Repository Lisow7/AnimeInk, pull requests merged in 2024-02, with the labels that each got.

#2 Create MVC for one comment and all comments.
  AnimeInk/Backend/src/controllers/comments.controllers.js
  AnimeInk/Backend/src/databases/comments.db.js
  AnimeInk/Backend/src/routes/comments.routes.js
Labels: good first issue

#3 Add Method POST ⭕
  AnimeInk/Backend/.env.sample
  AnimeInk/Backend/.gitignore
  AnimeInk/Backend/database.sql
  AnimeInk/Backend/src/controllers/articles.controllers.js
  AnimeInk/Backend/src/databases/articles.db.js
  AnimeInk/Backend/src/routes/articles.routes.js
Labels: good first issue

#7 Hotfix settings bdd and all gitignore
  .gitignore
  AnimeInk/.gitignore
  AnimeInk/Backend/.gitignore
  AnimeInk/Backend/database.sql
Labels: Backend, Hotfix, Verificaation (PR)

#8 Hotfix method GET for recover one comment
  .gitignore
  AnimeInk/.gitignore
  AnimeInk/Backend/.env.dev
  AnimeInk/Backend/.env.sample
  AnimeInk/Backend/.gitignore
  AnimeInk/Backend/database.sql
  AnimeInk/Backend/src/controllers/articles.controllers.js
  AnimeInk/Backend/src/controllers/comments.controllers.js
  AnimeInk/Backend/src/databases/articles.db.js
  AnimeInk/Backend/src/databases/comments.db.js
  AnimeInk/Backend/src/routes/articles.routes.js
  AnimeInk/Backend/src/routes/comments.routes.js
  database.sql
  migrate.js
Labels: Backend, Valided (M)

#9 Merge code clean in dev
  AnimeInk/Backend/src/controllers/comments.controllers.js
  AnimeInk/Backend/src/databases/comments.db.js
  AnimeInk/Backend/src/routes/comments.routes.js
  README.md
Labels: Backend, Verificaation (PR)

#10 Feature/back/comment/add
  AnimeInk/Backend/src/controllers/comments.controllers.js
  AnimeInk/Backend/src/databases/comments.db.js
Labels: Backend, Hotfix, Verificaation (PR)

#11 Mergin clean code "comment/add" in dev
  AnimeInk/Backend/src/controllers/comments.controllers.js
  AnimeInk/Backend/src/databases/comments.db.js
Labels: Backend, Verificaation (PR), Mergin in dev

#13 Feature/back/comments
  AnimeInk/Backend/src/controllers/comments.controllers.js
  AnimeInk/Backend/src/databases/comments.db.js
  AnimeInk/Backend/src/routes/comments.routes.js
  database.sql
Labels: Backend, Verification (PR), Mergin in dev

#15 hotfix method POST M.V.C with all middleware for register new account
  AnimeInk/Backend/src/controllers/accounts.controllers.js
  AnimeInk/Backend/src/databases/accounts.db.js
  AnimeInk/Backend/src/middlewares/hashPassword.mdlwr.js
  AnimeInk/Backend/src/middlewares/verifyEmailIsExist.mdlwr.js
  AnimeInk/Backend/src/middlewares/verifyFormatEmail.mdlwr.js
  AnimeInk/Backend/src/middlewares/verifyPasswordFormat.mdlwr.js
  AnimeInk/Backend/src/routes/accounts.routes.js
  AnimeInk/Backend/src/routes/init.routes.js
  AnimeInk/Backend/src/utils/crypto.utils.js
Labels: Backend, Exchange Daily, Verification (PR)

#16 First fonction JS, a simple addition.
  AnimeInk/Backend/migrate.js
  AnimeInk/training-test.js
Labels: Exchange Daily, Verification (PR), Training

#17 2nd fonction to subtract, 22/02/2024
  AnimeInk/training-test.js
Labels: Exchange Daily, Verification (PR), Training

#18 Tests/training
  .gitignore
  AnimeInk/.gitignore
  AnimeInk/Backend/.env.dev
  AnimeInk/Backend/.gitignore
  AnimeInk/Backend/migrate.js
  AnimeInk/training-test.js
Labels: Exchange Daily, Verification (PR), Training

#23 Add new function even and odd 27/02/2024
  AnimeInk/training-test.js
Labels: Exchange Daily, Verification (PR), Training
