Repository Lisow7/AnimeInk, pull requests merged in 2024-03, with the labels that each got.

#24 Add two news fonctions js 29/02/2024
  AnimeInk/training-test.js
Labels: Exchange Daily, Verification (PR), Training

#25 Update BDD CONSTRAINT, role default 2
  AnimeInk/Backend/database.sql
  database.sql
Labels: Backend, Exchange Daily, Valided (M), Mergin in dev, Settings, Management

#26 Add new function to random number
  AnimeInk/training-test.js
Labels: Exchange Daily, Valided (M), Training

#31 Add new additionnal function 03/03/2024
  AnimeInk/training-test.js
Labels: Exchange Daily, Verification (PR), Training

#32 Add new function strict letters 04/03/2024
  AnimeInk/training-test.js
Labels: Exchange Daily, Verification (PR), Training

#27 Add Login MVC, hotfix : Cleancode MVC & Commented
  AnimeInk/Backend/src/controllers/accounts.controllers.js
  AnimeInk/Backend/src/databases/accounts.db.js
  AnimeInk/Backend/src/middlewares/jwt.mdlwr.js
  AnimeInk/Backend/src/middlewares/verifyEmailIsExist.mdlwr.js
  AnimeInk/Backend/src/routes/accounts.routes.js
  AnimeInk/Backend/src/utils/crypto.utils.js
  database.sql
Labels: Backend, Exchange Daily, Hotfix, Verification (PR)

#28 Update Register MVC, Hotfix : CleanCode MVC & Commented
  AnimeInk/Backend/src/controllers/accounts.controllers.js
  AnimeInk/Backend/src/databases/accounts.db.js
  AnimeInk/Backend/src/middlewares/hashPassword.mdlwr.js
  AnimeInk/Backend/src/utils/crypto.utils.js
Labels: Backend, Exchange Daily, Hotfix, Verification (PR)

#34 Add new function to tires coategories 05/03/2024
  AnimeInk/training-test.js
Labels: Valided (M), Training

#36 ♻️ Add function for stocked "token" in table [ Users ]♻️
  AnimeInk/Backend/src/controllers/accounts.controllers.js
  AnimeInk/Backend/src/databases/accounts.db.js
  AnimeInk/Backend/src/middlewares/hashPassword.mdlwr.js
  AnimeInk/Backend/src/middlewares/jwt.mdlwr.js
  AnimeInk/Backend/src/middlewares/verifyEmailIsExist.mdlwr.js
  AnimeInk/Backend/src/middlewares/verifyFormatEmail.mdlwr.js
  AnimeInk/Backend/src/middlewares/verifyPasswordFormat.mdlwr.js
  AnimeInk/Backend/src/utils/tokens.utils.js
Labels: Backend, Hotfix, Verification (PR)

#37 New Function Array [ Fusion ] - 06/03/2024
  AnimeInk/training-test.js
Labels: Verification (PR), Training, GitHub

#39 Hotfix: Finish Token Generation [ Stock db ] ✅
  AnimeInk/Backend/src/controllers/accounts.controllers.js
  AnimeInk/Backend/src/middlewares/jwt.mdlwr.js
  AnimeInk/Backend/src/utils/tokens.utils.js
Labels: Backend, Valided (M), Mergin in dev

#40 Hotfix : [Account & Comment] Add succes boolean & update msg status 500 🔧
  AnimeInk/Backend/src/controllers/accounts.controllers.js
  AnimeInk/Backend/src/controllers/articles.controllers.js
  AnimeInk/Backend/src/controllers/comments.controllers.js
  AnimeInk/Backend/src/controllers/users.controllers.js
  AnimeInk/Backend/src/databases/users.db.js
  AnimeInk/Backend/src/routes/init.routes.js
  AnimeInk/Backend/src/routes/users.routes.js
Labels: Backend, Hotfix, Valided (M)

#46 [ New ] : Add Basic Pages🧾
  AnimeInk/Frontend/src/main.jsx
  AnimeInk/Frontend/src/pages/Article.jsx
  AnimeInk/Frontend/src/pages/Home.jsx
  AnimeInk/Frontend/src/pages/LoginRegister.jsx
  AnimeInk/Frontend/src/pages/Profile.jsx
Labels: Frontend, Valided (M)

#55 [ New ] : Add Layout ♻️
  AnimeInk/Frontend/src/assets/images/Logo-Anime-ink.png
  AnimeInk/Frontend/src/components/animes/Article.jsx
  AnimeInk/Frontend/src/components/comments/.gitkeep
  AnimeInk/Frontend/src/components/layout/Footer.jsx
  AnimeInk/Frontend/src/components/layout/Header.jsx
  AnimeInk/Frontend/src/pages/LoginRegister.jsx
Labels: Frontend, Components, Layout

#45 🔐[ New ] : Account MVC (JWT) Verify & Auth 🔐
  AnimeInk/Backend/src/controllers/accounts.controllers.js
  AnimeInk/Backend/src/controllers/articles.controllers.js
  AnimeInk/Backend/src/controllers/comments.controllers.js
  AnimeInk/Backend/src/controllers/users.controllers.js
  AnimeInk/Backend/src/databases/users.db.js
  AnimeInk/Backend/src/middlewares/jwt.mdlwr.js
  AnimeInk/Backend/src/routes/accounts.routes.js
  AnimeInk/Backend/src/routes/articles.routes.js
  AnimeInk/Backend/src/routes/comments.routes.js
  AnimeInk/Backend/src/routes/users.routes.js
  AnimeInk/Backend/src/utils/tokens.utils.js
Labels: Backend, Hotfix, Settings, Security

#56 🔗[TRAINING] - RANDOM ARTICLES🔗
  AnimeInk/training-test.js
Labels: Frontend, Training

#58 🔧 Add React Router DOM
  AnimeInk/Frontend/src/assets/sass/_variables.scss
  AnimeInk/Frontend/src/index.css
  AnimeInk/Frontend/src/routes/App.jsx
Labels: Frontend, Verification (PR), API, Pages

#60 [ Hotfix ] : Scss, Layout, components & comments
  AnimeInk/Frontend/src/assets/sass/_base.scss
  AnimeInk/Frontend/src/assets/sass/_classes.scss
  AnimeInk/Frontend/src/assets/sass/_layout.scss
  AnimeInk/Frontend/src/assets/sass/_variables.scss
  AnimeInk/Frontend/src/components/AnimeCard.jsx
  AnimeInk/Frontend/src/components/Footer.jsx
  AnimeInk/Frontend/src/components/Header.jsx
  AnimeInk/Frontend/src/components/Logo.jsx
  AnimeInk/Frontend/src/components/animeCategory/AnimeCategory.jsx
  AnimeInk/Frontend/src/components/animeCategory/AnimeCategory.scss
  AnimeInk/Frontend/src/components/animeNews/AnimeNews.jsx
  AnimeInk/Frontend/src/components/animeNews/AnimeNews.scss
  AnimeInk/Frontend/src/components/animeRandom/AnimeRandom.jsx
  AnimeInk/Frontend/src/components/animeRandom/AnimeRandom.scss
  AnimeInk/Frontend/src/components/layout/Footer.jsx
  AnimeInk/Frontend/src/components/layout/Header.jsx
  AnimeInk/Frontend/src/index.css
  AnimeInk/Frontend/src/main.jsx
Labels: Exchange Daily, Hotfix, Verification (PR), Settings, Management, Components, Pages, Layout

#61 [ NEW ] : Button Layout 🆕
  AnimeInk/Frontend/src/assets/sass/_layout.scss
  AnimeInk/Frontend/src/components/layout/Header.jsx
Labels: Frontend, Valided (M), Components, Layout
